<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Reset Password</h3>
            <p class="text-center">Please enter your email address to request a password reset.</p>
            <div class="formGroup">
                <mat-form-field>
                    <input type="email" matInput [formControl]="email"  class="formControl" placeholder="Email Address" #passwordResetEmail required>
                </mat-form-field>
            </div>
            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="formGroup">
                <button type="submit" mat-raised-button color="primary" [disabled]="email.invalid" class="btn btnPrimary" value="Reset Password"
                    (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
                
            </div>
            <div class="redirectToLogin">
                <span>Go back to ? <span class="redirect" routerLink="/signin">Log In</span></span>
            </div>
        </div>
    </div>
</div>